body {
    background-color: khaki;
    font-family: monospace;
    height: 100%;
}

header {
    text-align: center;
    color: saddlebrown;
}

#rules-toggle {
    cursor: pointer;
    text-decoration: underline;
}

#close-rules {
    cursor: pointer;
}

#rules-div {
    position: absolute;
    right: 5em;
    background-color: saddlebrown;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px sandybrown;
    display: none;
    z-index: 3;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#choose-text {
    margin-top: 2em;
}

#game-div {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: center;
    transform: rotate(10deg);
}

#paper-scissors-div {
    display: flex;
    flex-direction: column;
}

.game-button {
    height: 100px;
    width: 100px;
    margin: 2em;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px black;
    cursor: pointer;
}

.game-button:hover {
    animation: button-hover 0.5s linear forwards;
}

@keyframes button-hover {
    0%{
        transform: scale(1.0);
    }

    100%{
        transform: scale(0.9);
    }
}

@keyframes game-div-spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#game-results-div {
    display: none;
    flex-direction: column;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: khaki;
}

.footer-link {
    color: lawngreen;
}